<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre - Registro</title>
</head>
<body>
    <header>
        <div class="logo-search">
            <img src="/images/logo-mercado-liebre.svg" width="300px" alt="">
            <div class="box-search">
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fas fa-search"></i>
            </div>

            <div>
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>

        <div class="container-nav">
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>

            <ul class="login">
                <li><a href="/register"> Creá tu cuenta <i class="fas fa-user-circle"></i></a></li>
                <li><a href="/login"> Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href=""> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>


        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <h1 style="text-align: center;margin-top: 20px;">Registrate gratis!</h1>

    <form action="" class="formulario">
        <div>
            <input type="text" class="input-form" placeholder="Nombre y Apellido">
            <input type="text" class="input-form" placeholder="Nombre de Usuario">
            <input type="email" class="input-form" placeholder="Email">
            
            <h3>Fecha de Nacimiento</h3>
            <input type="date">
            <input type="text" class="input-form" placeholder="Domicilio">
            
            <h3>Perfil de usuario</h3>
            <input type="radio">Comprador
            <input type="radio">Vendedor

            <h3>Intereses</h3>
            <input type="radio">Electro
            <input type="radio">Moda
            <input type="radio">Hogar
            <input type="radio">Juguetería
            <input type="radio">Vida sana

            <h3>Elija foto de perfil</h3>
            <input type="file">

            <h3>Cree su contraseña</h3>
            <input type="password" class="input-form" placeholder="Escriba su contraseña">
            <input type="password" class="input-form" placeholder="Reescriba su contraseña">


            <button>
                <a href="">Volver Atrás</a>
            </button>

            <button>
                <a href="">Borrar datos de formulario</a>
            </button>

        </div>

    </form>

    <footer>
        <div>
            <i class="far fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </div>

        <div>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </div>

        <div>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </div>

    </footer>
    <p class="copyright">
        Copyright © 1999-2020 MercadoLiebre S.R.L.
    </p>
</body>
</html>